.flexify {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-bottom: 6rem;
}

.head {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  margin-left: 60px;
  margin-bottom: 40px;
  margin-top: -2rem;
}

.wrapper {
  width: 100%;
  padding: 0 1rem;
}


.wheadImage {
  border-radius: 50%;
  object-fit: cover;
}

.whead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whead>div:nth-child(2n) {
  margin-top: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.whead>div:nth-child(3n) {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #333333;
  opacity: 0.5;
}

.hr {
  border: 1px solid #E5E5E5;
  width: 100%;
}

.basic > div:nth-child(1) {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  opacity: 0.5;
  margin-bottom: 40px;
  margin-top: 40px;
}

.flexSpace {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.flexSpace > div {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.columize {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

@media (max-width: 600px) {
  .flexify {
    margin-left: 0;
  }

  .head {
    margin-left: 0;
  }
}
