.groupTitleValue {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 35px;
}

.title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.value {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #666666a9;
}
