.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner > div {
  color: #333333;
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #25282b;
}

.inner > div:nth-child(2n) {
  color: #1f56c3;
  align-self: flex-start;
}

.addBoxShadow {
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  border-radius: 8px;
}
