.wrapper {
    width: 100%;
    margin-top: 30px;
    height: 398px;
    background-image: linear-gradient(to right, rgba(31, 86, 195, 0.75), rgba(31, 86, 195, 0.75)), url('/images/home/social/background.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h3 {
    display: flex;
    justify-content: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* line-height: 48px;  */
    color: #FFFFFF;
}

.centered p {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.centerButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

.button {
    width: 324px;
    height: 52px;
    left: 561px;
    top: 255px;
    border: none;
    color: blue;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:after {
    content: "";
    background: #8285bb;
    display: block;
    /* padding-left: 350%;
    margin-left: -20px !important; */
    margin-top: 2px;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}