.wrapper {
  padding: 2rem;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.form_group .select {
  height: 52px;
  background-color: #f9f9fb;
  border-radius: 15px;
  padding-inline: 10px;
  background-position: top 5px right 4px;
  margin-bottom: 1rem;
}


@media screen and (max-width: 400px) {
  .wrapper {
    padding: 1.5rem;
  }
}
