.smallCard {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.flexify > div {
  overflow-y: auto;
}

.flexify > div::-webkit-scrollbar {
  width: 8px;
}

.flexify > div::-webkit-scrollbar-track {
  width: 8px;
}

.flexify > div::-webkit-scrollbar-thumb {
  background: rgba(31, 86, 195, 0.85);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.flexify > div::-webkit-scrollbar {
  width: 16px;
}

.flexify {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 2rem;
  margin-left: 2rem;
  flex-wrap: wrap;
}

.welcome {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #0a2a6a;
  margin-top: -3rem;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
}

.presBtn,
.presBtn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px !important;
  background: rgba(31, 86, 195, 0.08) !important;
  border-radius: 5px !important;
  width: 500px !important;
  max-width: 100% !important;
  height: 52px !important;
  gap: 18px;
  color: #1f56c3 !important;
  transition: 500ms ease-out opacity;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px !important;
}

.presBtn2 {
  width: 100% !important;
}

.presBtn:hover,
.presBtn2:hover {
  opacity: 0.8;
  transition: 500ms ease-out opacity;
}

.adjustMarginBtn {
  margin-top: 10px !important;
}

.sideLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.flexRow,
.flexRow2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow2 {
  margin-top: -2rem;
}

.appCard {
  margin-left: 12px;
}

.appCardLab {
  margin-left: 0;
}

.labBtn {
  width: 123px !important;
  height: 42px !important;
  flex-wrap: nowrap;
  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  color: #1f56c3 !important;
}

.flexxyDoc {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btnDiv {
  width: 634px;
  max-width: 100%;
  /* margin-left: 3rem; */
  padding-bottom: 2rem;
}

@media (max-width: 930px) {
  .btnDiv {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 920px) {
  .flexify {
    flex-direction: column;
  }
}

@media (max-width: 1277px) {
  .smallCard {
    margin-left: 0 !important;
  }
}

@media (max-width: 1310px) {
  .smallCard {
    margin-left: 0 !important;
  }
}

@media (max-width: 1310px) {
  .flexify {
    margin-left: 0;
  }

  .welcome {
    margin-left: 0rem;
  }
}
