/* start */

.otherPlanBox {
    box-sizing: border-box;
    width: 250px;
    height: 700px;
    left: 45px;
    top: 607px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 25px;
    max-width: 100%;
}

.type {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
}

.span {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    opacity: 0.6;
    margin-top: 1px;
}

.amount {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1f56c3;
    margin-top: 10px;
}

.listing {
    display: flex;
    margin-top: 15px;
    gap: 8px;
}

.text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    flex-wrap: wrap;
}


/* end */