.activities {
    background: rgba(237, 242, 251, 0.2);
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 17px 50px;
    width: 100%;
    margin-bottom: 31px;
}

.right1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.right2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    opacity: 0.5;
}

.svg {
    display: flex;
    gap: 18px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.activityContainer {
    padding: 23px 46px;
    overflow-y: auto;
    height: 502px;
}

.activityContainer::-webkit-scrollbar {
    width: 8px;
}

.activityContainer::-webkit-scrollbar-track {
    width: 8px;
}

.activityContainer::-webkit-scrollbar-thumb {
    background: rgba(31, 86, 195, 0.85);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.activityContainer::-webkit-scrollbar {
    width: 16px;
}

.topActivity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.topActivity1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.topActivity2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #666666;
}

.svgWidth {
    width: 4rem;
}