.formContainer {
  margin-left: 55px;
  margin-right: 55px;
  max-width: 100%;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.formContainerForm {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.header {
  display: flex;
  width: 111px;
  gap: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  align-items: center;
}

.header:hover {
  cursor: pointer;
}

.topText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.relationshipInner {
  margin-bottom: 0.7rem;
}

.gapMe {
  margin-top: 1rem;
}

.stswrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.gapSmall {
  margin-bottom: 0.8rem;
}

.flexify {
  display: flex;
  gap: 43px;
}

.availableTime {
  margin-bottom: 12px;
}

.subHead {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 6px;
}

.presBtn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px !important;
  background: rgba(31, 86, 195, 0.08) !important;
  border-radius: 5px !important;
  width: 500px !important;
  max-width: 100% !important;
  height: 52px !important;
  gap: 18px;
  color: #1f56c3 !important;
  transition: 500ms ease-out opacity;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px !important;
}

.presBtn2 {
  width: 100% !important;
}

.form2 {
  padding: 0 10%;
  margin-top: 60px;
}

.top,
.bottom {
  display: flex;
}

.top {
  gap: 16px;
}

.spreader {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.marginTop {
  margin-top: 49px;
}

.aboutHeight > div {
  background: #f9f9fb;
}

.aboutHeight > div > textarea {
  height: 200px !important;
  width: 600px;
}

.aboutHeight {
  max-width: 100%;
}
